# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3

# SwiftPM
.build/
.swiftpm/

# CocoaPods (if you add it later)
Pods/
*.xcworkspace

# Carthage (if used later)
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
